{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}




{% block body %}

    <center><h1> Liste des livres Empruntés</h1></center>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Titre Livre</th>
            <td>Date Retour</td>
            <td>Action</td>

        </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <th>{{ emprunt.Livre.titre }}</th>
                <td>{{ emprunt.getDateRetour() ? emprunt.getDateRetour()|date('Y-m-d'): '' }}</td>
                <td><a href="{{ path('delete_emprunt',{'id':emprunt.Livre.id}) }}">
                        <button class="btn btn-danger" type="button">Retourner le livre</button>
                    </a></td>

            </tr>
        {% endfor %}


        </tbody>
    </table>
    <center>
        <div class="container">
            <div class="row">
                <a href="{{ path('app') }}"><span class="btn btn-primary"><i
                                class="fa fa-backward"></i>&nbsp; Retour</span></a>

            </div>
        </div>
    </center>

{% endblock %}
