{% block stylesheets %}
    <!-- Bootstrap Styles-->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
<h1>Inscription</h1>
{{form_start(form)}}
{{form_widget(form)}}
<button type="submit" class="btn btn-outline-primary">Inscription </button>
{{form_end(form)}}

{% endblock %}

