{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}index Emprunte{% endblock %}

{% block body %}


    <br>
    <form>
 
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1" name="user_id">
    {% if abonnee is null %}
                  <option value="all">all</option>


{% else %}
       <option value="{{abonnee.id}}">{{abonnee.nom}} {{abonnee.prenom}}</option>
              <option value="all">all</option>

   

{% endif %}

    {% for abonne in abonnes %}
    {% if abonne!=abonnee%}
    
      <option value="{{abonne.id}}">{{abonne.nom}} {{abonne.prenom}}</option>
 {% endif %}
    {% endfor %}

    </select>

  </div>

   <button type="submit" class="btn btn-primary">Rechercher</button>

</form>
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
            <th>#</th>
            <th>Abonné</th>
            <th>Livre</th>
            <th>Date emprunte</th>
            <th>Date retour</th>


        </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td>{{ emprunt.id }}</td>
                <td>{{ emprunt.Abonne.nom }}&nbsp;{{ emprunt.Abonne.prenom }}</td>
                <td>{{ emprunt.Livre.titre }}</td>
                <td>{{ emprunt.getDateEmprunt() ? emprunt.getDateEmprunt()|date('Y-m-d'): '' }}</td>
                <td>{{ emprunt.getDateRetour() ? emprunt.getDateRetour()|date('Y-m-d'): '' }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'enregistement touvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block javascripts %}
    <!-- DATA TABLE SCRIPTS -->
    <script src="{{ asset('js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('js/dataTables/dataTables.bootstrap.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <!-- Custom Js -->
    <script src="{{ asset('js/custom-scripts.js') }}"></script>


{% endblock %}
