{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
{% endblock %}
{% block title %}Categorie index{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('categorie_new') }}"><span class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp; Nouveau</span> </a>
    </div>
    <br>
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>#</th>
                <th>Designation</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for i,categorie in categories %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ categorie.designation }}</td>
                <td>{{ categorie.description }}</td>
                <td>
    <a href="{{ path('categorie_show', {'id': categorie.id}) }}"><span class="btn btn-default"><i class="fa fa-eye"></i></span></a>
    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}"><span class="btn btn-success"><i class="fa fa-pencil"></i></span></a>
<span> 
   <form method="post" style="display: inline-block;" action="{{ path('categorie_delete', {'id': categorie.id}) }}" onsubmit="return confirm('Est ce que vous etes sur de supprimer cette categorie?');">
<input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button></form>

</span>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'enregistement touvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% for message in app.flashes('success') %}
            <div class="alert alert-danger">
                {{ message|split("supprimer")[0] }}
   <form method="post" style="display: inline-block;" action="{{ path('categorie_delete2', {'id':message|split("supprimer")[1]}) }}" >
<input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message|split("supprimer")[1]) }}">
    <button class="btn btn-danger">Confirmer</button></form>            </div>
        
        {% endfor %}


{% endblock %}
{% block javascripts %}
    <!-- DATA TABLE SCRIPTS -->
    <script src="{{ asset('js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('js/dataTables/dataTables.bootstrap.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <!-- Custom Js -->
    <script src="{{ asset('js/custom-scripts.js') }}"></script>


{% endblock %}
